<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="p-3 bg-dark text-white">Admin Panel</nav>
  <main class="container mt-4">
    <%- body %>
  </main>
</body>
</html>
